@model WebApplication2.Clients

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <h4>Клиенты</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Паспорт")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passport)
        </dd>


        <dt>
            @Html.DisplayName("ФИО")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayName("Телефон")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
